/venv
/.idea
/.vscode
/staticfiles
/media
local_settings.py
.env
/myenv
venv-3.12
*.cpython
*.pyc
/__pycache__
db.sqlite3
D42297CDA7D6E58F7F29188DB3BEAC4F.txt
gaaubesi_portal/D42297CDA7D6E58F7F29188DB3BEAC4F.txt
script.py
monthly_order_log.txt
cron_hold_log.txt
__pycache__
/.vs
gaaubesi_tx/.env
staticfiles/
logs/

nohup.out